.product {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}

.product img {
    max-width: 200px;
    height: 200px;
}

.product .logo-badge {
    position: absolute;
    top: -5px;
}